body{
	padding: 0px;
	margin: 0px auto;
    font-family: 'Roboto Slab', serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index:9999;
}
.header{
	color: white;
    margin: 2px auto;
	border-left-width: 0px;
	border-right-width: 0px;
	padding: 2px;
	max-width: 100vw;
	margin-bottom: 20px;
}
.light{
	background-color: rgba(255, 255, 255, 0.29);
}
.dark{
	background-color: rgba(168, 168, 168, 0.4);
}
.tdtext{
	font-weight: bold;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
h1{
	width:90%;
}
table{
	width: 100%;
	line-height: 200%;
}
select{
	margin.top: 2px;
	height: 28px;
	border: 1px solid #1A3333;
	font-size: 13px;
	padding: 1px;
	width: 100%;
}
.button{
	margin: 0px auto;
	max-width: 30%;
}
form{
	width: 40%;
	padding: 30px;
	border: 1px solid #1A3333;
	margin: 5px auto;
	margin-top:20px;
	box-shadow: 5px 5px 4px 2px rgba(110, 110, 110, 0.49);
}
.textInput{
	
}
.textInput2{

}
#t2{
	width: 50%;
}
#error_msg{
	width: 40%;
	margin: 1px auto;
	height: 20px;
	padding-bottom: 3px;
	border: 1px solid #FF0000;
	background: #FFB9B8;
	color: #FF0000;
	box-shadow: 5px 5px 4px 2px rgba(110, 110, 110, 0.49);
	text-align: center;
	padding-top: 3px;
}
.click{
	text-align: center;
	font-weight: bolder;
	color: white;
	font-size: 14;
}
td{
	text-align: left;
	margin-left: 10px;
	padding-left: 10px;
	line-height: 250%;
}
textarea{
	width: 100%;
	box-shadow: 1px 1px 3px 1px rgba(232, 232, 232, 0.42);
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
}
.textInput,select{
	border-radius: 5px;
	border: 1px solid #1A3333;
	width:100%;
	font-size: 12;
	height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px 1px rgba(232, 232, 232, 0.42);
}
ul{
	width: inherit;
}

input[type=submit]{
	margin-top: 10px;
	margin-bottom: -5px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	text-shadow:0 1px #4D1124;
	border-width: 1px;
	border-style: solid;
	border-color:#4629ff;
	border-radius: 7px 7px 7px 7px;
	outline: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #1A3333;
	-webkit-box-shadow: inset 0 0 3px #1A3333;
	-moz-box-shadow: inset 0 0 3px #1A3333;
	box-shadow: inset 0 0 3px #1A3333;
}
input[type=submit]:active{
    background-color: #7D0F33;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AA1E4D), color-stop(100%, #7D0F33));
    background-image: -webkit-linear-gradient(top, #4c3dce, #8337d3);
    background-image: -moz-linear-gradient(center top , #AA1E4D, #7D0F33);
    background-image: -ms-linear-gradient(top, #AA1E4D, #7D0F33);
    background-image: -o-linear-gradient(top, #AA1E4D, #7D0F33);
    background-image: linear-gradient(top, #AA1E4D, #7D0F33);
    -webkit-box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
    -moz-box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
    box-shadow:0 1px #5711ed inset, 0 1px 2px #3a44ed;
}
